<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
  </head>
  <body>
    <h1>Las coders</h1>
    <hr>
    <div>
      <section>
        <img src="assets/images/Erika-Gabriela.jpg" width="200px" alt="">
        <p>Gaby</p>
      </section>
      <section>
        <img src="assets/images/Viridiana-Montoya.jpg" width="200px"alt="">
        <p>Viri</p>
      </section>
      <section class="active">
        <img src="assets/images/Erika-Salvador.jpg" width="200px"alt="">
        <p>Eri</p>
      </section>
    </div>
    <div>
      <section>
        <img src="assets/images/Nancy-Santana.jpg" width="200px" alt="">
        <p>Nan</p>
      </section>
      <section>
        <img src="assets/images/Rosa-Garcia.jpg" width="200px"alt="">
        <p>Rosi</p>
      </section>
      <section class="active">
        <img src="assets/images/Samahara-Fernandez.jpg" width="200px"alt="">
        <p>Sam</p>
      </section>
    </div>
  </body>
</html>
